fastapi
uvicorn
pydantic
python-multipart
requests
google-generativeai
beautifulsoup4
pandas
finance-datareader
yfinance
openpyxl
lxml
html5lib
schedule
customtkinter
pillow
pyautogui
pyperclip
pywin32